/* Reglas generales para evitar problemas de margenes y limites */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 400px;
}
/* Reglas generales para evitar problemas de margenes y limites */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header picture {
  height: 5rem;
}

header picture img {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; <--cambie */
  max-width: 100%;
  margin: 0 auto;
}
nav a {
  color: inherit;
  text-decoration: none;
}
.nav-right {
  display: flex;
  width: 50%;
  justify-content: start;
  align-items: center;
}
.nav-left {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
  gap: 80px;
}
.nav-left p {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-left p:hover {
  font-weight: bold;
  text-decoration: none;
  color: gray;
}

.material-icons {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.icon-container {
  position: relative;
  display: flex;
  cursor: pointer;
}
.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: grey;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
input[type="text"] {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
@media (max-width: 500px) {
  input[type="text"] {
    display: none; /* Ocupa todo el ancho disponible */
  }
}
@media (max-width: 768px) {
  input[type="text"] {
    max-width: 150px; /* Ocupa todo el ancho disponible */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  input[type="text"] {
    max-width: 300px; /* Un poco más ancho en tablets */
  }
}

@media (min-width: 1024px) {
  input[type="text"] {
    max-width: 500px; /* Más ancho en pantallas grandes */
  }
}
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}
main h2 {
  display: flex;
  justify-content: center;
}
main h2 {
  display: flex;
  justify-content: center;
}
.loader {
  display: flex;
  justify-content: center;
}
.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
.event-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 436px;
  min-width: 311px;
}
.event-card:hover {
  transform: scale(1.05);
}
.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.event-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
.event-info h2 {
  font-size: 23px;
  margin: 0;
  height: 60px;
}
.event-info-buttons {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  gap: 10px;
}
.event-info-link {
  display: inline-block;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.event-info-link:hover {
  background: #0056b3;
}
.event-like-link {
  display: inline-block;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background: #ff002b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Mantiene el cursor de botón */
  font-size: inherit; /* Mantiene el tamaño de fuente del texto */
  font-family: inherit; /* Usa la misma fuente del sitio */
}
.event-like-link:hover {
  background: #970101;
}
.event-like-disabled {
  background-color: rgb(81, 81, 81);
  cursor: pointer;
  opacity: 0.6;
  /* pointer-events: none; Evita interacción */
}
.event-like-disabled:hover {
  background-color: rgb(34, 34, 34);
}
footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
}
footer hr {
  width: 80%;
  border: 1px solid #ccc;
  margin: 10px auto;
}

/* Carrito CSS */
.cart-body-text {
  display: flex;
  justify-content: center;
}
.cart-event-card {
  display: flex;
  align-items: center;
  background-color: #272727;
  color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem auto;
  gap: 1rem;
  width: 600px;
}
.cart-event-card img {
  align-items: center;
  width: 180px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.cart-event-info {
  align-items: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-event-info h2 {
  font-size: 1.1rem;
  margin: 0;
  color: #f5f5f5;
}

.cart-event-info p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
  color: #c9c9c9;
}

.cart-like-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #ff002b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Mantiene el cursor de botón */
  font-size: inherit; /* Mantiene el tamaño de fuente del texto */
  font-family: inherit; /* Usa la misma fuente del sitio */
}

.cart-link-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
}
.cart-finish-link {
  display: flex;
  justify-content: center;
  width: 8rem;
  margin-top: 30px;
  padding: 0.5rem 1rem;
  background: #0056b3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none; /* Elimina el borde */
  cursor: pointer; /* Mantiene el cursor de botón */
  font-size: inherit; /* Mantiene el tamaño de fuente del texto */
  font-family: inherit; /* Usa la misma fuente del sitio */
}

.form-input-container {
  margin-bottom: 1rem;
  max-width: 500px;
}

.form-input {
  padding: 0.5rem;
  border-radius: 5px;
}

.input-email {
  max-width: 500px;
  width: 100%;
  border: 1px solid #ccc;
}
